.main {
    margin-top: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    padding-right: 50px;
    flex-wrap: wrap;
}

.moves {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    min-width: 300px;
    max-width: 500px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
}

.button {

    &__add {
        background-color: var(--color-primary);
        color: var(--color-white);
        border: 3px solid var(--color-secondary);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 2em;
        margin-top: 10px;
        cursor: pointer;
    }

    &__logout {
        background-color: var(--color-primary);
        color: var(--color-white);
        cursor: pointer;
        padding: 5px 10px;
    }
}